<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag 'application' %>
<div class = "container">
  <p id="notice"><%= notice %></p>
  <div class="card">
    <div class="card-body ">
      <div class="card-header-team text-light rounded">
              <div class="fw-bold"><h1><%= "Echipa " + @team.name %></h1></div>
      </div>
      <br>
      <h5 style="text-align: left;">
        <strong>Product Owner:</strong>
        <%= @product_owner_details.last_name + " " + @product_owner_details.first_name %>
      </h5>
      <h5 style="text-align: left;">
        <strong>Scrum Master:</strong>
        <%= @scrum_master_details.last_name + " " + @scrum_master_details.first_name %>
      <h5>
      <hr>
      <div class="row">
        <div class="col">
          <h5 style="text-align: left;">
            <strong>Statistici:</strong>
          <h5>
          <ul class="list-group ">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Număr total de membrii:
              <span class="fs-6"><span class="badge bg-primary rounded-pill"><%=@team_members_ids.size%></span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Număr total de Story Points consumate:
              <span class="fs-6"><span class="badge bg-primary rounded-pill"><%=@total_effort%></span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Număr de componente:
              <span class="fs-6"><span class="badge bg-primary rounded-pill"><%= @components.size %></span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cel mai mult efort consumat pe:
              <span class="fs-6"><span class="badge bg-primary rounded-pill"><%=@the_most_expensive_component.name%></span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Adesea echipa:
              <span class="fs-6"><span class="badge bg-primary rounded-pill"><%=@final_feedback%></span></span>
            </li>
          </ul>         
        </div>
        <div class="col">
          <%# PIE CHART %>
          <div class= "chart-container">
            <%= pie_chart @display_pie, download: true %>
          </div>
        </div>
        <div class="col">
          <%# BAR CHART %>
          <%= bar_chart @display_bar, download: true %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col d-flex justify-content-start ">
          <h3 style="text-align: left;">Componentele echipei <%= @team.name%>:</h3>
        </div>
        <div class="col">
          <%= form_with url: team_path, method: :get do |form| %>
            <div class="input-group mb-3">
              <%= form.text_field :search, {class:"form-control",placeholder:"Găsește componentă..."}%>
              <%= form.submit "Caută", {class:"btn btn-outline-secondary"} %>
            </div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to 'Adaugă componentă', new_component_path, class: "btn btn-success text-light float-end"%>
        </div>
      </div>
      <div class = "container vertical-scrollable border border-secondary">
        <div class="row row-cols-1 row-cols-md-3">
          <% @components.each do |component| %>
            <div class="col">
              <div class="card text-dark border-dark bg-light m-2" style="width: 99%;" >
                <div class="card-body ">
                  <div class="card-header bg-secondary">
                  <div class="fw-bold"><%= component.name %></div>
                  </div>
                  <hr>
                  <%= link_to 'Accesează', component,class: "btn btn-primary text-white btn-sm" %>
                  <%= link_to 'Editează', edit_component_path(component),class: "btn btn-secondary text-white btn-sm" %>
                  <%= link_to 'Șterge', component, class: "btn btn-danger text-white btn-sm" ,method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style> 
  .vertical-scrollable> .row {
    height: 300px;
    overflow-y: scroll; 
  }

  .btn-subscribe,
  .btn-subscribe:hover,
  .btn-subscribe:active,
  .btn-subscribe:visited,
  .btn-subscribe:focus {
    background-color: #cd201f;
    border-color: #cd201f;
  }

  .btn-destroy,
  .btn-destroy:hover,
  .btn-destroy:active,
  .btn-destroy:visited,
  .btn-destroy:focus {
    background-color: #131418;
    border-color: #131418;
  }

  .card .card-header-team {
  background-color: #212529; 
  border-color: transparent;
  }
  .chart-container {
    width: 400px;
}
</style> 