<%= form_with(model: component) do |form| %>
  <% if component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
        <% component.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='container'>
    <div class="card">
      <div class="card-body " style="text-align: left;">
        <div class="mb-3">
          <%= form.label "Denumire", { class: "form-label"}  %><br />
          <%= form.text_field :name, { class: "form-control", placeholder: "Nume componentă..." } %>
        </div>

        <div class="mb-3">
          <%= form.label "Descriere", { class: "form-label"} %><br />
          <%= form.text_area :description , { class: "form-control"} %>
        </div>

        <div class="mb-3">
          
        </div>

        <div class="row">
          <div class="col ">
            <%= form.submit "Adaugă", {class: "btn btn-success"} %>
          </div>
          <div class="col">
            <%= link_to 'Întoarcere la echipă', team_path(@current_user_details.team_id),class:"btn btn-secondary text-white float-end" %>
          </div>
        </div>
      </div>

       <%= form.hidden_field :team_id, value: @current_user_details.team_id %>
    </div>
<% end %>
