<div class = "container">
  <p id="notice"><%= notice %></p>
  <div class="card">
    <div class="card-body ">
      <div class="card-header-team text-light rounded">
        <div class="fw-bold"><h1><%= @component.name %></h1></div>
      </div>
      <div class="row mx-1 mb-1">
        <div class="card">
          <div class="card-body">
            <h5 style="text-align: left;"><%= @component.description %></h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 style="text-align: left;">
            <strong>Date despre componentă:</strong>
          <h5>
          <ul class="list-group ">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Echipă responsabilă:
              <span class="lead"><span class="badge bg-primary rounded-pill">
              <%= "Echipa " + @team.name %>
              </span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Număr total de Story Points consumate:
              <span class="lead"><span class="badge bg-primary rounded-pill"><%= @total_SP.to_s + " SP"%></span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Dezvoltator principal
              <span class="lead"><span class="badge bg-primary rounded-pill">
                <%= @lead_component_developer %>
              </span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Adtivitățile adesea sunt:
              <span class="lead"><span class="badge bg-primary rounded-pill"><%= @feedback_tasks %></span></span>
            </li>
          </ul>
          <hr>

          <div class="row d-flex align-items-center">
            <div class="col">
              <h5 style="text-align: left;">
                <strong>Activități:</strong>
              <h5>
            </div>
            <div class="col">
              <%= form_with url: component_path(@component), method: :get do |form| %>
                <div class="input-group mb-3">
                  <%= form.text_field :search, {class:"form-control",placeholder:"Găsește activitate..."}%>
                  <%= form.submit "Caută", {class:"btn btn-outline-secondary"} %>
                </div>
              <% end %>
            </div>
          </div>
          
          <%# ############## %>
          <div class = "container vertical-scrollable border border-secondary">
            <div class="row my-1">
              <% @component_taks.each do |task| %>
                <% if task.persisted? %>
                  <div class="card-group">
                    <div class="card-activity text-light border-dark rounded mb-1 " style="width: 99%;" >
                      <%= link_to [task.component, task] do %>
                        <div class="card-body">
                          <div class="row d-flex align-items-center">
                            <div class="col">
                              <h6><div class="fw-bold" style="text-align: left;"><%= task.title %></div></h6>
                            </div>
                            <div class="col">
                              <h6 style="text-align: right;"><%= task.estimation.to_s+ " SP"%></h6>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col">
          <%= render 'tasks/form' %>
        </div>
    </div>
  </div>
</div>



<style> 
  .vertical-scrollable> .row {
    height: 300px;
    overflow-y: scroll; 
  }

  .btn-subscribe,
  .btn-subscribe:hover,
  .btn-subscribe:active,
  .btn-subscribe:visited,
  .btn-subscribe:focus {
    background-color: #cd201f;
    border-color: #cd201f;
  }

  .btn-destroy,
  .btn-destroy:hover,
  .btn-destroy:active,
  .btn-destroy:visited,
  .btn-destroy:focus {
    background-color: #131418;
    border-color: #131418;
  }

  .card .card-header-team {
  background-color: #212529; 
  border-color: transparent;
  }

  .card-activity {
  background-color: #0077B5; 
  border-color: transparent;
  max-height:63px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: inherit;
    text-decoration: none;
  }

  a:active {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

</style> 
