<%= form_with(model: meeting) do |f| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class='container'>
    <div class="card">
      <div class="card-body " style="text-align: left;">
      <h3 class='card-tytle' style="text-align: center;">Adaugă ședință nouă</h3>
        <div class="mb-3">
          <%= f.label "Nume", { class: "form-label"}  %><br />
          <%= f.text_field :name, { class: "form-control", placeholder: "Meeting name" } %>
        </div>

        <div class="mb-3">
          <%= f.label "Descriere", { class: "form-label"} %><br />
          <%= f.text_area :description , { class: "form-control"} %>
        </div>

        <div class="mb-3">
          <%= f.submit "Adaugă", {class: "btn btn-primary"} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
