<br>

<div class = "container">
 <div class="row">
    <div class="col d-flex justify-content-start ">
      <span class="align-middle"><h1>Toate ședințele:</h1></span>
    </div>
    <div class="col">
      <%= link_to 'Adaugă ședință', new_meeting_path, class: "btn btn-success text-light float-end"%>
    </div>
  
  <div class = "container vertical-scrollable border border-secondary">
    <div class="row my-1">
      <% @meetings.each do |meeting| %>
        <div class="card text-dark border-dark bg-light m-2" style="width: 99%;" >
            <div class="card-body">
              <div class="card-header bg-secondary">
                <div class="fw-bold"><%= meeting.name %></div>
              </div>
              <p class="card-text"><%= meeting.description %></p>
              <%= link_to 'Afișează', meeting,class: "btn btn-primary text-white btn-sm" %>
              <%= link_to 'Editează', edit_meeting_path(meeting),class: "btn btn-secondary text-white btn-sm" %>
              
              <% if Appoiment.where(meeting_id: meeting.id, user_id: current_user.id).empty? %>
                <%= link_to 'Abonare', toggle_subscribe_meeting_path(meeting), class: "btn btn-subscribe text-white btn-sm"%>
              <% else %>
                <%= link_to 'Dezabonare', toggle_unsubscribe_meeting_path(meeting), class: "btn btn-subscribe text-white btn-sm"%>
              <% end %>

              <%= link_to 'Șterge', meeting,class: "btn btn-destroy text-white btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style> 
    .vertical-scrollable> .row {
      height: 600px;
      overflow-y: scroll; 
    }

    .btn-subscribe,
    .btn-subscribe:hover,
    .btn-subscribe:active,
    .btn-subscribe:visited,
    .btn-subscribe:focus {
      background-color: #cd201f;
      border-color: #cd201f;
  }

    .btn-destroy,
    .btn-destroy:hover,
    .btn-destroy:active,
    .btn-destroy:visited,
    .btn-destroy:focus {
      background-color: #131418;
      border-color: #131418;
  }
</style> 