<style> 
    .vertical-scrollable> .row {
      height: 500px;
      overflow-y: scroll; 
    }
</style>

<br>
<div class="container">
  <div class="card border-secondary my-1">
    <div class="card-body">
      <div class="card-header text-light " style="background-color: #4c75a3;">
        <div class="fw-bold fs-1"><%=  @meeting.name  %></div>
      </div>
      <br>
      <h6 class="text-start"><%=@meeting.description%></h6>

      <hr>
        <%= render 'logs/form' %>
      <hr>

      <div class="card-footer">
      <div class="fs-3">Notițele ședinței</div>
      <div class="container vertical-scrollable border border-dark">
        <div class="row my-2">
          <% @meeting_logs.each do |log| %>

            <% if "critical" == log.severity %>
              <div class="card border-danger m-1"style="width: 99%;">
                <div class="card-header bg-danger text-light">
                  <div class="row">
                    <div class="col-md">
                      <div class="fw-bold fs-6"style="text-align: left;"><%= @meeting.name %></div>
                    </div>
                    <div class="col-md">
                      <div class="fw-bold fs-6"style="text-align: center;">Critic</div>
                    </div>
                    <div class="col-md">
                      <div class="fw-bold fs-6"style="text-align: right;"><%= log.date %></div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-dark">
                  <h5 class="card-title"><%= log.title %></h5>
                  <p class="card-text fs-6" style="text-align: left;"><%= log.content %></p>
                </div>
              </div>
            <%end%>

            <% if "normal" == log.severity %>
              <div class="card border-info m-1"style="width: 99%;">
                <div class="card-header bg-info text-light">
                    <div class="row">
                      <div class="col-md">
                        <div class="fw-bold fs-6"style="text-align: left;"><%= @meeting.name %></div>
                      </div>
                      <div class="col-md">
                        <div class="fw-bold fs-6"style="text-align: center;">Normal</div>
                      </div>
                      <div class="col-md">
                        <div class="fw-bold fs-6"style="text-align: right;"><%= log.date %></div>
                      </div>
                  </div>
                </div>
                <div class="card-body text-dark">
                  <h5 class="card-title"><%= log.title %></h5>
                  <p class="card-text fs-6" style="text-align: left;"><%= log.content %></p>
                </div>
              </div>
            <%end%>



          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>