<%= form_with(model: [@task.component, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='container'>
    <div class="card">
      <div class="card-body " style="text-align: left;">
      <h3 class='card-tytle' style="text-align: center;">Adaugă activitate</h3>
        <div class="mb-3">
          <%= f.label "Denumire", { class: "form-label"}  %><br />
          <%= f.text_field :title, { class: "form-control", placeholder: "Denumire activitate..." } %>
        </div>

        <div class="mb-3">
          <%= f.label "Descriere", { class: "form-label"} %><br />
          <%= f.text_area :description , { class: "form-control"} %>
        </div>

        <div class="mb-3">
          <%= f.label "Commiturile de Git:", { class: "form-label"} %><br />
          <%= f.text_field :first_commit, { class: "form-control", placeholder: "Prmul commit..." } %>
        </div>

        <div class="mb-3">
          <%= f.text_field :last_commit, { class: "form-control", placeholder: "Ultimul commit..." } %>
        </div>


        <div class="mb-3">
          <%= f.label "Estimare" %><br />
          <%= f.select :estimation, Task::ESTIMATION_OPTIONS, {}, { class: "form form-group form-select" }%>
        </div>

        <div class="mb-3">
          <%= f.label "Feedback-ul dezvoltatorului:" %><br />
          <%= f.select :developer_feedback, Task::DEVELOPER_FEEDBACK_OPTIONS, {}, { class: "form form-group form-select" }%>
        </div>

        <%# This field is autocompleted with the current users details id%>
        <%= f.hidden_field :user_detail_id, value: @current_user_details.id %>

        <div class="mb-3">
          <%= f.submit "Adaugă", {class: "btn btn-success"} %>
        </div>
      </div>
    </div>
  </div>



<% end %>
