<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>First commit</th>
    <th>Last commit</th>
    <th>Estimation</th>
    <th>Developer feedback</th>
    <th>User detail</th>
    <th>Component</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= task.first_commit %></td>
    <td><%= task.last_commit %></td>
    <td><%= task.estimation %></td>
    <td><%= task.developer_feedback %></td>
    <td><%= task.user_detail %></td>
    <td><%= task.component %></td>
    <td><%= link_to 'Show', [task.component, task] %></td>
    <td><%= link_to 'Edit', edit_component_task_path(task.component, task) %></td>
    <td><%= link_to 'Destroy', [task.component, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_component_task_path(params[:component_id]) %>
