<div class = "container">
  <p id="notice"><%= notice %></p>
  <div class="card">
    <div class="card-body ">
      <div class="card-header-team text-light rounded">
        <div class="fw-bold"><h1><%= @task.title %></h1></div>
      </div>
      <div class="row mx-1 mb-1">
        <div class="card mb-2">
          <div class="card-body">
            <h6 style="text-align: left;"><%= @task.description %></h6>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul class="list-group ">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Echipă responsabilă:
                <span class="lead"><span class="badge bg-primary rounded-pill"><%= "Echipa " + @team.name %></span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Developer responsabil:
                <span class="lead"><span class="badge bg-primary rounded-pill"><%=@developer.first_name + " " + @developer.last_name %></span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Git commit-ul inițial:
                <span class="lead"><span class="badge bg-primary rounded-pill">
                <%= @task.first_commit %>
                </span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Git commit-ul final:
                <span class="lead"><span class="badge bg-primary rounded-pill">
                  <%= @task.last_commit %>
                </span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Estimare:
                <span class="lead"><span class="badge bg-primary rounded-pill">
                  <%= @task.estimation.to_s + " SP" %>
                </span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Activitatea a fost:
                <span class="lead"><span class="badge bg-primary rounded-pill"><%= @feedback_task %></span></span>
              </li>
            </ul>
            <br>
            <div class="row">
              <div class="col ">
                <%= link_to 'Editează activitatea', edit_component_task_path(@task.component, @task),class:"btn btn-success text-white float-start" %>
              </div>
              <div class="col">
                <%= link_to 'Întoarcere la componentă', component_path(@task.component),class:"btn btn-secondary text-white float-end" %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style> 
  .vertical-scrollable> .row {
    height: 300px;
    overflow-y: scroll; 
  }

  .btn-subscribe,
  .btn-subscribe:hover,
  .btn-subscribe:active,
  .btn-subscribe:visited,
  .btn-subscribe:focus {
    background-color: #cd201f;
    border-color: #cd201f;
  }

  .btn-destroy,
  .btn-destroy:hover,
  .btn-destroy:active,
  .btn-destroy:visited,
  .btn-destroy:focus {
    background-color: #131418;
    border-color: #131418;
  }

  .card .card-header-team {
  background-color: #212529; 
  border-color: transparent;
  }

  .card-activity {
  background-color: #0077B5; 
  border-color: transparent;
  max-height:63px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: inherit;
    text-decoration: none;
  }

  a:active {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

</style> 

