<%= form_with(model: appoiment) do |form| %>
  <% if appoiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appoiment.errors.count, "error") %> prohibited this appoiment from being saved:</h2>

      <ul>
        <% appoiment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :meeting_id %>
    <%= form.text_field :meeting_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
