<p id="notice"><%= notice %></p>

<h1>Appoiments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Meeting</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appoiments.each do |appoiment| %>
      <tr>
        <td><%= appoiment.user_id %></td>
        <td><%= appoiment.meeting_id %></td>
        <td><%= link_to 'Show', appoiment %></td>
        <td><%= link_to 'Edit', edit_appoiment_path(appoiment) %></td>
        <td><%= link_to 'Destroy', appoiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appoiment', new_appoiment_path %>
