<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appoiment.user_id %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @appoiment.meeting_id %>
</p>

<%= link_to 'Edit', edit_appoiment_path(@appoiment) %> |
<%= link_to 'Back', appoiments_path %>
