<h2>Autentifică-te</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "Parola" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "Păstrează-mă autentificat" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Autentificare" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
