<style> 
    .vertical-scrollable> .row {
      height: 350px;
      overflow-y: scroll; 
    }

    .btn-show_meetings,
    .btn-show_meetings:hover,
    .btn-show_meetings:active,
    .btn-show_meetings:visited,
    .btn-show_meetings:focus {
      background-color: #0077b5;
      border-color: #0077b5;
  }
</style>

<br>
<div class="container">
  <div class="row">
    <%= link_to 'Afișează toate ședințele', meetings_path, class: "btn btn-show_meetings text-white btn-lg" %>
  </div>

  <hr>

  <div class="row">
    <div class="col-md">
      <h3>Ședințe curente</h3>
      <div class="container vertical-scrollable border border-dark">
        <div class="row my-2">
          <% @meetings.each do |meeting| %>
            <div class="card my-1">
              <div class="card-body">
                <h5 class='card-tytle'><%= meeting.name %></h5>
                <p><%= meeting.description %></p>
                <%= link_to 'Afișează ședința', meeting, class: "btn btn-primary text-white btn-sm"%>
                <%= link_to 'Anulează participarea', toggle_unsubscribe_meeting_path(meeting), class: "btn btn-danger text-light btn-sm"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md">
      <h3>Notițe importante</h3> 
      <div class="container vertical-scrollable border border-dark">
        <div class="row my-2">
          <% @critical_logs.each do |critical_log| %>
            <div class="card border-danger my-1">
              <div class="card-body">

                <div class="card-header bg-danger text-light">
                  <div class="row">
                    <div class="col-md">
                      <div class="fw-bold fs-6"style="text-align: left;"><%= critical_log.first %></div>
                    </div>
                    <div class="col-md">
                      <div class="fw-bold fs-6"style="text-align: center;">Critic</div>
                    </div>
                    <div class="col-md">
                      <div class="fw-bold fs-6"style="text-align: right;"><%= critical_log.second.date %></div>
                    </div>
                  </div>
                </div>

                <h5 class='card-tytle'><%= critical_log.second.title %></h5>
                <p class="fs-6"style="text-align: left;"><%= critical_log.second.content%></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>


  <%= form_with url: "/", method: :get do |form| %>
    <div class="input-group mb-3">
      <%= form.text_field :search, {class:"form-control",placeholder:"Găsește notiță..."}%>
      <%= form.submit "Caută", {class:"btn btn-outline-secondary"} %>
    </div>
  <% end %>

  <% if !@search_logs.empty?%>
  <div class="container vertical-scrollable border border-dark">
        <div class="row my-2">
        
          <% @search_logs.each do |log| %>

            <% if "critical" == log.second.severity %>
              <div class="card border-danger m-1"style="width: 99%;">
                <div class="card-header bg-danger text-light">
                  <div class="row">
                    <div class="col-md">
                      <div class="fw-bold fs-6"style="text-align: left;"><%= log.first %></div>
                    </div>
                    <div class="col-md">
                      <div class="fw-bold fs-6"style="text-align: center;">Critic</div>
                    </div>
                    <div class="col-md">
                      <div class="fw-bold fs-6"style="text-align: right;"><%= log.second.date %></div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-dark">
                  <h5 class="card-title"><%= log.second.title %></h5>
                  <p class="card-text fs-6" style="text-align: left;"><%= log.second.content %></p>
                </div>
              </div>
            <%end%>

            <% if "normal" == log.second.severity %>
              <div class="card border-info m-1"style="width: 99%;">
                <div class="card-header bg-info text-light">
                    <div class="row">
                      <div class="col-md">
                        <div class="fw-bold fs-6"style="text-align: left;"><%= log.first %></div>
                      </div>
                      <div class="col-md">
                        <div class="fw-bold fs-6"style="text-align: center;">Normal</div>
                      </div>
                      <div class="col-md">
                        <div class="fw-bold fs-6"style="text-align: right;"><%= log.second.date %></div>
                      </div>
                  </div>
                </div>
                <div class="card-body text-dark">
                  <h5 class="card-title"><%= log.second.title %></h5>
                  <p class="card-text fs-6" style="text-align: left;"><%= log.second.content %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>


