<%= form_with(model: [@log.meeting, @log]) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='container'>
    <div class="card">
      <div class="card-body " style="text-align: left;">
      <h3 class='card-tytle' style="text-align: center;">Adaugă o nouă notiță ședinței</h3>
        <div class="mb-3">
          <%= f.label "Titlu", { class: "form-label"}  %><br />
          <%= f.text_field :title, { class: "form-control", placeholder: "Titlu..." } %>
        </div>

        <div class="mb-3">
          <%= f.label "Conținut", { class: "form-label"} %><br />
          <%= f.text_area :content , { class: "form-control"} %>
        </div>

        <div class="mb-3">
          <%= f.label "Severitate" %><br />
          <%= f.select :severity, Log::SEVERITY_OPTIONS, {}, { class: "form form-group form-control" }%>
        </div>

        <div class="mb-3">
          <%= f.label "Data" %><br />
          <%= f.date_select :date %>
        </div>

        <div class="mb-3">
          <%= f.submit "Adaugă", {class: "btn btn-primary"} %>
        </div>
      </div>
    </div>
  </div>

<% end %>
