<h1>Listing logs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Severity</th>
    <th>Date</th>
    <th>Meeting</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @logs.each do |log| %>
  <tr>
    <td><%= log.title %></td>
    <td><%= log.content %></td>
    <td><%= log.severity %></td>
    <td><%= log.date %></td>
    <td><%= log.meeting %></td>
    <td><%= link_to 'Show', [log.meeting, log] %></td>
    <td><%= link_to 'Edit', edit_meeting_log_path(log.meeting, log) %></td>
    <td><%= link_to 'Destroy', [log.meeting, log], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Log', new_meeting_log_path(params[:meeting_id]) %>
