<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @log.title %>
</p>

<p>
  <b>Content:</b>
  <%= @log.content %>
</p>

<p>
  <b>Severity:</b>
  <%= @log.severity %>
</p>

<p>
  <b>Date:</b>
  <%= @log.date %>
</p>

<p>
  <b>Meeting:</b>
  <%= @log.meeting %>
</p>


<%= link_to 'Edit', edit_meeting_log_path(@log.meeting, @log) %> |
<%= link_to 'Back', meeting_logs_path(@log.meeting) %>
