<p id="notice"><%= notice %></p>

<h1>User Details</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Team</th>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_details.each do |user_detail| %>
      <tr>
        <td><%= user_detail.user_id %></td>
        <td><%= user_detail.team_id %></td>
        <td><%= user_detail.first_name %></td>
        <td><%= user_detail.last_name %></td>
        <td><%= link_to 'Show', user_detail %></td>
        <td><%= link_to 'Edit', edit_user_detail_path(user_detail) %></td>
        <td><%= link_to 'Destroy', user_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Detail', new_user_detail_path %>
