<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_detail.user_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user_detail.team_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user_detail.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_detail.last_name %>
</p>

<%= link_to 'Edit', edit_user_detail_path(@user_detail) %> |
<%= link_to 'Back', user_details_path %>
