<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>KnowledgeManagementApp</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand">Aplicație de Management al Cunoștințelor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
              <% if user_signed_in? %>
                <%= content_tag :li ,class: "nav-item" do%>
                  <%=link_to  root_path, class:"nav-link" do%>
                    <i class="batch-icon batch-icon-search"></i>
                      Pagina principală
                  <%end%>
                <% end %>
              </li>
               <li class="nav-item active">
                <%= content_tag :li ,class: "nav-item" do%>
                  <%=link_to  meetings_path, class:"nav-link" do%>
                    <i class="batch-icon batch-icon-search"></i>
                      Ședințe
                  <%end%>
                <% end %>
              </li>
              </li>
               <li class="nav-item active">
                <%= content_tag :li ,class: "nav-item" do%>
                  <%=link_to  team_path(UserDetail.find(current_user.id).team_id), class:"nav-link" do%>
                    <i class="batch-icon batch-icon-search"></i>
                      Echipă
                  <%end%>
                <% end %>
              </li>
              <%end%>
              <li class="nav-item"><a class="nav-link" href="#!">Despre</a></li>
              <% if user_signed_in? %>
                  <%= content_tag :li ,class: "nav-item" do%>
                  <%= link_to  destroy_user_session_path, class:"nav-link" do%>
                    <i class="batch-icon batch-icon-search"></i>
                      Decontectare
                  <%end%>
                <%end%>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content-->
    <div class="container-fluid">
        <div class="text-center">
        <%= yield %>
        </div>
    </div>

    <% if notice %>
        <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert"><%= alert %></p>
    <% end %>
  </body>
</html>
